<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710973711814-9nush3mubhvs36tdipmtr8cd7ukilfrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710973711814-9nush3mubhvs36tdipmtr8cd7ukilfrt</string>
	<key>API_KEY</key>
	<string>AIzaSyB_o2tUtuP4k2AVaIPoA14sU1tRzDTfx_w</string>
	<key>GCM_SENDER_ID</key>
	<string>710973711814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betopac.Wink</string>
	<key>PROJECT_ID</key>
	<string>wink-cdf7c</string>
	<key>STORAGE_BUCKET</key>
	<string>wink-cdf7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710973711814:ios:042a48544c038e37</string>
	<key>DATABASE_URL</key>
	<string>https://wink-cdf7c.firebaseio.com</string>
</dict>
</plist>